In [4]:
import pandas as pd
import numpy as np

In [5]:
matrix = np.array([[1,2,3],[5,6,7]])

In [6]:
print(matrix)

[[1 2 3]
 [5 6 7]]

In [8]:
mylist = [["Apple", "Red"],
          ["Banana","Yellow"],
          ["Orange","Orange"]]

In [10]:
myDataFrame = pd.DataFrame(mylist, columns=["Fruit","Colo"])
myDataFrame

    Fruit    Colo
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

In [11]:
#Create a pandas data frame from a numpy array
numbers = np.array([[0,1],[2,3],[4,5],[6,7]])
dataFrame1 = pd.DataFrame(numbers, columns=["Odd","Even"])

In [12]:
dataFrame1

   Odd  Even
0    0     1
1    2     3
2    4     5
3    6     7

In [13]:
#Create a pd data frame from a dictionary
myDictionary = {"fruit":["Apple","Banana","Orange"],"color":["yellow","blue","Orange"]}

In [14]:
dictionaryDataFrame = pd.DataFrame(myDictionary)

In [15]:
dictionaryDataFrame

    fruit   color
0   Apple  yellow
1  Banana    blue
2  Orange  Orange

In [17]:
df = pd.read_csv('./cereals.csv')

In [18]:
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [19]:
#read_csv methos in pandas will create a data frame from a .csv , file
#csv stands for comma seperated files

#Once created, we can use the set_index function in pandas to define a new index for the data frame we created

In [24]:
df.set_index('name')

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [25]:
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [ ]:
#set_indez does not make permanent changes. We have to use the inplance funtion

In [27]:
#Option 1: assign the transformed datafram to a new dataframe function
df_name = df.set_index('name')

In [28]:
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [29]:
df_name

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [30]:
#Option 2: use implace property to make the change permanent
df.set_index('name',inplace=True)

In [31]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [ ]:
#Examining the data

#To examine the data in your pandas data frame, you can use the function head() and tail()
#head() will give you the top five rows in, if no number is specifies as parameter
#tail() will give you the last five rows, if no number is specified as parameter

In [34]:
df.head()

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843

In [35]:
df.head(2)

                   calories  protein  vitamins     rating
name
100% Bran                70        4        25  68.402973
100% Natural Bran       120        3         0  33.983679

In [36]:
df.tail()

                         calories  protein  vitamins     rating
name
Apple Cinnamon Cheerios       110        2        25  29.509541
Apple Jacks                   110        2        25  33.174094
Basic 4                       130        3        25  37.038562
Bran Chex                      90        2        25  49.120253
Bran Flakes                    90        3        25  53.313813

In [37]:
df.tail(3)

             calories  protein  vitamins     rating
name
Basic 4           130        3        25  37.038562
Bran Chex          90        2        25  49.120253
Bran Flakes        90        3        25  53.313813

In [ ]:
#Row Slicing

#we can use the [] operator for row slicing
#when using the brackets operate, we have to specify a start index, which is inclusive, and an end bracket, which is exclusive.
#[start_index:end_index]

In [39]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [40]:
df[1:2]

                   calories  protein  vitamins     rating
name
100% Natural Bran       120        3         0  33.983679

In [41]:
df[1:4]

                           calories  protein  vitamins     rating
name
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912

In [ ]:
#Column Slicing

#just like the row slicing, the [] operator can be used to slice a data frame to return only a set of columns with come nuances
#this time, we need to use pass the row operators inside another row operator, and use a comma instad of a : to specify the start and end columns
#df[['start_column','end_column']]

#for slicing a range of columns,

In [43]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [ ]:
df[['calories','rating']]

                           calories     rating
name
100% Bran                        70  68.402973
100% Natural Bran               120  33.983679
All-Bran                         70  59.425505
All-Bran with Extra Fiber        50  93.704912
Almond Delight                  110  34.384843
Apple Cinnamon Cheerios         110  29.509541
Apple Jacks                     110  33.174094
Basic 4                         130  37.038562
Bran Chex                        90  49.120253
Bran Flakes                      90  53.313813

In [51]:
df.loc[:,'protein':'rating']

                           protein  vitamins     rating
name
100% Bran                        4        25  68.402973
100% Natural Bran                3         0  33.983679
All-Bran                         4        25  59.425505
All-Bran with Extra Fiber        4        25  93.704912
Almond Delight                   2        25  34.384843
Apple Cinnamon Cheerios          2        25  29.509541
Apple Jacks                      2        25  33.174094
Basic 4                          3        25  37.038562
Bran Chex                        2        25  49.120253
Bran Flakes                      3        25  53.313813

In [46]:
#we can also pass a boolean list to the [] operator. In this case, all the elements for each index in the list, the corresponding row index 
#in the data frame will be displayed if the calue is set to true and hidden if the value is set to false

In [47]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [54]:
show_only_third_row = [False,False,True,False,False,False,False,False,False,False]

In [55]:
df[show_only_third_row]

          calories  protein  vitamins     rating
name
All-Bran        70        4        25  59.425505

In [56]:
#is this effecient? no

#for instance, let's assume that we would liek to show how to programmatically define a list of elements that
#satisfy a very complet criteria that cannot be define directly using the filter operations

#a simplet example in our case will be displaying the row where the number of proteins is greater than 2
#and the ratio between the rating and vitamins is greater than 2

In [60]:
#We define a boolean list with no values to start with
items_to_display = []

#we start by itterating through the list of elements of the dataframe
for index, row in df.iterrows():
    #for each element we will take store the value of protein, rating, and vitamins in their own variables
    protein = row["protein"]
    vitamins = row["vitamins"]
    rating = row["rating"]

    #then we calculate the ratio rating/vitamins
    if vitamins > 0:
        ratio = rating/vitamins
    else:
        ratio = 0

    #now we check the value of the ratio and number of protein. If the conditions are satisfied, we display the row by setting the True
    #or false in theassociated boolean list we will later pass
    if protein > 2 and ratio >2:
        items_to_display.append(True)
    else:
        items_to_display.append(False)

#when the loop itteration is over, we display the result of our boolean list
print(items_to_display)

#and we pass the boolean list in the [] operation to show the rows where the data satisfies our define conditions
df[items_to_display]

[True, False, True, True, False, False, False, False, False, True]

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Bran Flakes                      90        3        25  53.313813