In [2]:
import pandas as pd
import numpy as np

In [3]:
matrix = np.array([[1,2,3],[5,6,7]])

In [4]:
print(matrix)

[[1 2 3]
 [5 6 7]]

In [5]:
mylist = [["Apple", "Red"],
          ["Banana","Yellow"],
          ["Orange","Orange"]]

In [6]:
myDataFrame = pd.DataFrame(mylist, columns=["Fruit","Colo"])
myDataFrame

    Fruit    Colo
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

In [7]:
#Create a pandas data frame from a numpy array
numbers = np.array([[0,1],[2,3],[4,5],[6,7]])
dataFrame1 = pd.DataFrame(numbers, columns=["Odd","Even"])

In [8]:
dataFrame1

   Odd  Even
0    0     1
1    2     3
2    4     5
3    6     7

In [9]:
#Create a pd data frame from a dictionary
myDictionary = {"fruit":["Apple","Banana","Orange"],"color":["yellow","blue","Orange"]}

In [10]:
dictionaryDataFrame = pd.DataFrame(myDictionary)

In [11]:
dictionaryDataFrame

    fruit   color
0   Apple  yellow
1  Banana    blue
2  Orange  Orange

In [12]:
df = pd.read_csv('./cereals.csv')

In [13]:
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [14]:
#read_csv methos in pandas will create a data frame from a .csv , file
#csv stands for comma seperated files

#Once created, we can use the set_index function in pandas to define a new index for the data frame we created

In [15]:
df.set_index('name')

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [16]:
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [17]:
#set_indez does not make permanent changes. We have to use the inplance funtion

In [18]:
#Option 1: assign the transformed datafram to a new dataframe function
df_name = df.set_index('name')

In [19]:
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [20]:
df_name

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [21]:
#Option 2: use implace property to make the change permanent
df.set_index('name',inplace=True)

In [22]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [23]:
#Examining the data

#To examine the data in your pandas data frame, you can use the function head() and tail()
#head() will give you the top five rows in, if no number is specifies as parameter
#tail() will give you the last five rows, if no number is specified as parameter

In [24]:
df.head()

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843

In [25]:
df.head(2)

                   calories  protein  vitamins     rating
name
100% Bran                70        4        25  68.402973
100% Natural Bran       120        3         0  33.983679

In [26]:
df.tail()

                         calories  protein  vitamins     rating
name
Apple Cinnamon Cheerios       110        2        25  29.509541
Apple Jacks                   110        2        25  33.174094
Basic 4                       130        3        25  37.038562
Bran Chex                      90        2        25  49.120253
Bran Flakes                    90        3        25  53.313813

In [27]:
df.tail(3)

             calories  protein  vitamins     rating
name
Basic 4           130        3        25  37.038562
Bran Chex          90        2        25  49.120253
Bran Flakes        90        3        25  53.313813

In [28]:
#Row Slicing

#we can use the [] operator for row slicing
#when using the brackets operate, we have to specify a start index, which is inclusive, and an end bracket, which is exclusive.
#[start_index:end_index]

In [29]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [30]:
df[1:2]

                   calories  protein  vitamins     rating
name
100% Natural Bran       120        3         0  33.983679

In [31]:
df[1:4]

                           calories  protein  vitamins     rating
name
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912

In [32]:
#Column Slicing

#just like the row slicing, the [] operator can be used to slice a data frame to return only a set of columns with come nuances
#this time, we need to use pass the row operators inside another row operator, and use a comma instad of a : to specify the start and end columns
#df[['start_column','end_column']]

#for slicing a range of columns,

In [33]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [34]:
df[['calories','rating']]

                           calories     rating
name
100% Bran                        70  68.402973
100% Natural Bran               120  33.983679
All-Bran                         70  59.425505
All-Bran with Extra Fiber        50  93.704912
Almond Delight                  110  34.384843
Apple Cinnamon Cheerios         110  29.509541
Apple Jacks                     110  33.174094
Basic 4                         130  37.038562
Bran Chex                        90  49.120253
Bran Flakes                      90  53.313813

In [35]:
df.loc[:,'protein':'rating']

                           protein  vitamins     rating
name
100% Bran                        4        25  68.402973
100% Natural Bran                3         0  33.983679
All-Bran                         4        25  59.425505
All-Bran with Extra Fiber        4        25  93.704912
Almond Delight                   2        25  34.384843
Apple Cinnamon Cheerios          2        25  29.509541
Apple Jacks                      2        25  33.174094
Basic 4                          3        25  37.038562
Bran Chex                        2        25  49.120253
Bran Flakes                      3        25  53.313813

In [36]:
#we can also pass a boolean list to the [] operator. In this case, all the elements for each index in the list, the corresponding row index 
#in the data frame will be displayed if the calue is set to true and hidden if the value is set to false

In [37]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [38]:
show_only_third_row = [False,False,True,False,False,False,False,False,False,False]

In [39]:
df[show_only_third_row]

          calories  protein  vitamins     rating
name
All-Bran        70        4        25  59.425505

In [40]:
#is this effecient? no

#for instance, let's assume that we would liek to show how to programmatically define a list of elements that
#satisfy a very complet criteria that cannot be define directly using the filter operations

#a simplet example in our case will be displaying the row where the number of proteins is greater than 2
#and the ratio between the rating and vitamins is greater than 2

In [41]:
#We define a boolean list with no values to start with
items_to_display = []

#we start by itterating through the list of elements of the dataframe
for index, row in df.iterrows():
    #for each element we will take store the value of protein, rating, and vitamins in their own variables
    protein = row["protein"]
    vitamins = row["vitamins"]
    rating = row["rating"]

    #then we calculate the ratio rating/vitamins
    if vitamins > 0:
        ratio = rating/vitamins
    else:
        ratio = 0

    #now we check the value of the ratio and number of protein. If the conditions are satisfied, we display the row by setting the True
    #or false in theassociated boolean list we will later pass
    if protein > 2 and ratio >2:
        items_to_display.append(True)
    else:
        items_to_display.append(False)

#when the loop itteration is over, we display the result of our boolean list
print(items_to_display)

#and we pass the boolean list in the [] operation to show the rows where the data satisfies our define conditions
df[items_to_display]

[True, False, True, True, False, False, False, False, False, True]

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Bran Flakes                      90        3        25  53.313813

In [ ]:
#Filtering the data

#we can use [] operator to apply some filter, we define a condition within the [] and only the rows satisfying the defined conditions
#will be displayed

In [42]:
condition = df["calories"] > 70
df[condition]

                         calories  protein  vitamins     rating
name
100% Natural Bran             120        3         0  33.983679
Almond Delight                110        2        25  34.384843
Apple Cinnamon Cheerios       110        2        25  29.509541
Apple Jacks                   110        2        25  33.174094
Basic 4                       130        3        25  37.038562
Bran Chex                      90        2        25  49.120253
Bran Flakes                    90        3        25  53.313813

In [43]:
#or directly

In [44]:
df[df["calories"]>70]

                         calories  protein  vitamins     rating
name
100% Natural Bran             120        3         0  33.983679
Almond Delight                110        2        25  34.384843
Apple Cinnamon Cheerios       110        2        25  29.509541
Apple Jacks                   110        2        25  33.174094
Basic 4                       130        3        25  37.038562
Bran Chex                      90        2        25  49.120253
Bran Flakes                    90        3        25  53.313813

In [45]:
#we can include more than one conditions by grouping them using the and(&) and or(|) operators

In [47]:
protein_greater_than_2_condition = df["protein"]>2

In [48]:
ratio_rating_vitamins_greater_than_2_condition = df["rating"] / df["vitamins"]>2

In [49]:
df[protein_greater_than_2_condition & ratio_rating_vitamins_greater_than_2_condition]

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Bran Flakes                      90        3        25  53.313813

In [50]:
#Indexing

#loc is used to index/slice a group of rows and columns based on their labels
#the first arguemt is the row label and the second argument is the column label

In [51]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [52]:
df.columns

Index(['calories', 'protein', 'vitamins', 'rating'], dtype='object')

In [53]:
df.loc["All-Bran","calories"]

np.int64(70)

In [54]:
#this method returns a single value of the data type of the value return

In [55]:
#to return a data fram instead, pass the argument to loc in the form of a list

In [56]:
df.loc[["All-Bran"],["calories"]]

          calories
name
All-Bran        70

In [57]:
#we can also use loc method to slice rows and columns from the datafram

In [58]:
df.loc["All-Bran":"Basic 4","calories":"vitamins"]

                           calories  protein  vitamins
name
All-Bran                         70        4        25
All-Bran with Extra Fiber        50        4        25
Almond Delight                  110        2        25
Apple Cinnamon Cheerios         110        2        25
Apple Jacks                     110        2        25
Basic 4                         130        3        25

In [59]:
#we can index and slice simultaneously as well

In [60]:
df.loc[["All-Bran","Basic 4"], "calories":"vitamins"]

          calories  protein  vitamins
name
All-Bran        70        4        25
Basic 4        130        3        25

In [61]:
#iloc is a similar function to loc, the difference is that where loc allows you to use labels, iloc uses row index positions only for indexing ans slicing
#iloc takes two arguments, one for the row and one for the index

#ex: df.iloc[start, end] -> returns single scalar value
#ex: df.iloc[[start],[end]] -> returns data frame
#ex: df

In [62]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [63]:
df.iloc[2,3]

np.float64(59.425505)

In [64]:
#you will note that name is not considered an element that is accessible as we turned it to an index

In [65]:
df.iloc[[2],[3]]

             rating
name
All-Bran  59.425505

In [66]:
df.iloc[0:5,0:3]

                           calories  protein  vitamins
name
100% Bran                        70        4        25
100% Natural Bran               120        3         0
All-Bran                         70        4        25
All-Bran with Extra Fiber        50        4        25
Almond Delight                  110        2        25

In [67]:
#just like with loc function, the iloc allows you to index and slice at the same time

In [68]:
df.iloc[[0,2,4],0:3]

                calories  protein  vitamins
name
100% Bran             70        4        25
All-Bran              70        4        25
Almond Delight       110        2        25

In [70]:
#Adding and deleting rows from a data frame

In [71]:
#first, we will create a new data frame to manipulate from the csv file
df_new = pd.read_csv('./cereals.csv')

In [72]:
df_new

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [73]:
#Adding

In [74]:
#we use the loc method to add a new element at the specified index. If the row exists, the new row replaces the old one. If not, a new one is created

In [75]:
df_new.loc[6]

name        Apple Jacks
calories            110
protein               2
vitamins             25
rating        33.174094
Name: 6, dtype: object

In [76]:
df_new.loc[6] = ["Trix",110,1,25,27.75984]

In [78]:
df_new

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                       Trix       110        1        25  27.759840
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [79]:
#deleting

In [80]:
#to delete a row from the data frame, we use the function drop() by specifying 0 for the value of the axis

In [81]:
df_new.loc[2]

name         All-Bran
calories           70
protein             4
vitamins           25
rating      59.425505
Name: 2, dtype: object

In [82]:
df_new.drop(2,axis=0, inplace=True)

In [83]:
df_new

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                       Trix       110        1        25  27.759840
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [84]:
#notice the row with the value All-Bran was deleted

In [85]:
#adding new column

In [86]:
df_new["country"] = ["USA","UK","MX","FR","GER","USA","UK","MX","FR"]

In [87]:
df_new

                        name  calories  protein  vitamins     rating country
0                  100% Bran        70        4        25  68.402973     USA
1          100% Natural Bran       120        3         0  33.983679      UK
3  All-Bran with Extra Fiber        50        4        25  93.704912      MX
4             Almond Delight       110        2        25  34.384843      FR
5    Apple Cinnamon Cheerios       110        2        25  29.509541     GER
6                       Trix       110        1        25  27.759840     USA
7                    Basic 4       130        3        25  37.038562      UK
8                  Bran Chex        90        2        25  49.120253      MX
9                Bran Flakes        90        3        25  53.313813      FR

In [88]:
#deleting a column

In [90]:
df_new.drop("country", axis=1, inplace=True)

In [91]:
df_new

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                       Trix       110        1        25  27.759840
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [92]:
#sorting data
df_new.sort_values(by="calories")

                        name  calories  protein  vitamins     rating
3  All-Bran with Extra Fiber        50        4        25  93.704912
0                  100% Bran        70        4        25  68.402973
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                       Trix       110        1        25  27.759840
1          100% Natural Bran       120        3         0  33.983679
7                    Basic 4       130        3        25  37.038562

In [93]:
#we can specify the sort order ascending or descending by setting the property ascending or descending to true or false

In [94]:
#sorting descending
df_new.sort_values(by="calories", ascending=False)

                        name  calories  protein  vitamins     rating
7                    Basic 4       130        3        25  37.038562
1          100% Natural Bran       120        3         0  33.983679
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                       Trix       110        1        25  27.759840
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813
0                  100% Bran        70        4        25  68.402973
3  All-Bran with Extra Fiber        50        4        25  93.704912

In [95]:
#sorting ascending
df_new.sort_values(by="calories", ascending=True)

                        name  calories  protein  vitamins     rating
3  All-Bran with Extra Fiber        50        4        25  93.704912
0                  100% Bran        70        4        25  68.402973
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                       Trix       110        1        25  27.759840
1          100% Natural Bran       120        3         0  33.983679
7                    Basic 4       130        3        25  37.038562

In [96]:
#exporting and saving Pandas DataFrame
df_new.to_csv("output_file.csl", index_label=False)